<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
  <head>
    <title>AngularTodo</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <li>
      <%= link_to 'Entrar', "/auth/facebook" %>
    </li>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <div class="container">
        <h2>Todos List</h2>
        <div ng-view></div>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
