<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
  <head>
    <title>AngularTodo</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if user_signed_in? %>
      <%= link_to 'Sair', destroy_user_session_path, class: 'logout',
        method: :delete, title: 'Fazer logout', :'data-placement' => "below" %>
    <% else %>
      <%= link_to 'Entrar', "/auth/facebook" %>
    <% end %>

    <% if user_signed_in? %>
      <div class="container">
        <h2>Todos List</h2>
        <div ng-view></div>
      </div>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
